[submodule "symbolic"]
	path = symbolic
	url = https://github.com/bniemczyk/symbolic
[submodule "automata"]
	path = automata
	url = https://github.com/bniemczyk/automata.git
[submodule "verdata"]
	path = verdata
	url = https://github.com/bniemczyk/verdata.git
